In [1]:
import pandas as pd
import numpy as np

In [32]:
df = pd.read_feather('crsp_monthly.ftr').query('caldt <= "2019-12-31" and prc >= 5')
df

,permno,caldt,cusip,ticker,shrcd,excd,siccd,prc,ret,vol,shr,cumfacshr
25,10001,1986-09-30,39040610,GFGC,11,3,4920,6.375000,-0.003077,366.0,991.0,3.0
26,10001,1986-10-31,39040610,GFGC,11,3,4920,6.625000,0.039216,362.0,991.0,3.0
27,10001,1986-11-28,39040610,GFGC,11,3,4920,7.000000,0.056604,312.0,991.0,3.0
28,10001,1986-12-31,39040610,GFGC,11,3,4920,7.000000,0.015000,312.0,991.0,3.0
29,10001,1987-01-30,39040610,GFGC,11,3,4920,6.750000,-0.035714,399.0,991.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4776801,93436,2019-08-30,88160R10,TSLA,11,3,9999,225.610001,-0.066222,1340932.0,179127.0,15.0
4776802,93436,2019-09-30,88160R10,TSLA,11,3,9999,240.869995,0.067639,1365915.0,180000.0,15.0
4776803,93436,2019-10-31,88160R10,TSLA,11,3,9999,314.920013,0.307427,2351125.0,180245.0,15.0
4776804,93436,2019-11-29,88160R10,TSLA,11,3,9999,329.940002,0.047695,1578851.0,180245.0,15.0
4776805,93436,2019-12-31,88160R10,TSLA,11,3,9999,418.329987,0.267897,2070288.0,181062.0,15.0

In [33]:
df.query('siccd == 9999').caldt.pipe(lambda d: (lambda m: m + (d - m).mean())(d.min())).to_pydatetime()

/var/folders/73/s_z37x2x4gv93j_kb8744gmh0000gn/T/ipykernel_49859/419285565.py:1: UserWarning: Discarding nonzero nanoseconds in conversion.
  df.query('siccd == 9999').caldt.pipe(lambda d: (lambda m: m + (d - m).mean())(d.min())).to_pydatetime()

datetime.datetime(2016, 5, 31, 6, 28, 23, 905708)

In [34]:
print(len(list(df.ticker.unique())))

25239

In [35]:
print(len(list(df.query('siccd == 9999').ticker.unique())))

1690